* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-orange: #ff9d36;
  --color-blue: #096dd9;
  --color-box-shadow: #cec7c7ad;
  --color-default: #756c6cad;
  --color-text: #3e3e3e;
}
@font-face {
  font-family: fontRadioCanada;
  src: url(../font/RadioCanada-Light.ttf);
}
body {
  /* font-family: fontRadioCanada !important; */
}
.wr-container {
  max-width: 1200px;
  margin: 0 auto !important;
}

::-webkit-scrollbar {
  display: none;
}

.mt-3 {
  margin-top: 30px !important;
}

/* css head  */
header {
  z-index: 1;
  position: relative;
}
.head {
  width: 100%;
  height: 100%;
}
.head .logo img {
  width: 130px;
  object-fit: cover;
}
.head .icon-nav-top {
  color: #fff;
}
.ant-page-header.header-notification {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-layout-header {
  z-index: 3;
}
.head .ant-layout-header {
  line-height: unset !important;
}
.ant-layout-header .css-e30pdq-MuiButtonBase-root-MuiIconButton-root {
  padding: 9px !important;
}
.head .nav-top-right {
  display: flex;
  justify-content: end;
  grid-column-gap: 15px;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .ant-layout-header {
    padding: 0 10px !important  ;
  }
  .head .nav-top-right {
    grid-column-gap: 5px;
  }
}
@media (max-width: 375px) {
  .head .account-dropdown {
    /* display: none; */
  }
}
.loading-bottom-head {
  z-index: 1 !important;
}
.ant-dropdown {
  top: 45px !important;
}
#scrollable-notify {
  background: #fff;
  width: 300px;
  height: 400px;
  overflow: auto;
  padding: 0 16px;
  border: 1px solid rgba(140, 140, 140, 0.35);
  border-radius: 0 0 10px 10px;
}
.scrollable-notify-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  left: 0;
  background-color: #f7f9f3;
  border: 1px solid rgba(214, 214, 214, 0.5);
  border-bottom: none;
  color: #997fbf;
  border-radius: 0 0 10px 10px;
}
.scrollable-notify-footer .mark-all,
.scrollable-notify-footer .see-all {
  cursor: pointer;
}
.scrollable-notify-footer .mark-all:hover,
.scrollable-notify-footer .see-all:hover {
  color: var(--color-orange);
}
.dropdown-account {
  width: 180px;
}
.dropdown-account .icon-dropdown {
  font-size: 20px;
  margin-right: 10px;
}
.ant-list-item-meta-content .ant-list-item-meta-title a {
  color: var(--color-orange);
  transition: 0.3s;
}
.ant-list-item-meta-content .ant-list-item-meta-title a:hover {
  color: var(--color-blue);
}
.nav-bottom {
  bottom: 0;
  box-shadow: 1px 1px 10px rgb(216, 211, 211);
  position: fixed;
  bottom: 0;
  min-width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 100;
}
.nav-bottom .nav-item .anticon {
  font-size: 3vw;
}
.nav-bottom .nav-item.active {
  color: #096dd9;
  position: relative;
}
.nav-bottom .active::after {
  content: "";
  background-color: #096dd9;
  height: 1vw;
  bottom: -5px;
  position: absolute;
  width: 100%;
}
.nav-bottom .active::after {
  height: 5px;
  border-radius: 3px;
}
.nav-bottom .wrap-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.nav-bottom .nav-item {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-row-gap: 5px;
}
.nav-bottom .wrap-item .anticon svg {
  font-size: 35px;
}
.nav-bottom .wrap-item a {
  color: #50535a;
}
@media (max-width: 768px) {
  .nav-bottom .wrap-item .anticon svg {
    font-size: 30px;
  }
  .nav-bottom .wrap-item .nav-item {
    min-width: 40px;
  }
  .nav-bottom .wrap-item .nav-name {
    font-size: 13px;
  }
  .nav-bottom .active::after {
    height: 5px;
  }
}
/* end css head */

/* css home */
.home-page {
  min-height: calc(100vh - 100px);
  position: relative;
  padding: 10px;
}
.home-page .title-home-top {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text);
  padding: 11px 7px;
  background: #fff;
  border-radius: 5px;
}
.home-page .bg-home {
  background-image: url("https://c.wallhere.com/photos/4e/06/low_poly_orange_digital_art_shapes_lines_abstract-1366661.jpg!d");
  border-radius: 50%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -57%;
  z-index: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: none; /* tạm thời tắt đi */
}
.home-page .section-content {
  height: 100%;
  box-shadow: 1px -1px 10px var(--color-box-shadow);
}
.row-content-left {
  height: 250px;
}
.home-page .box-content-middle .section-content {
  height: 250px;
}
.home-page .box-content-middle .skeleton-personnel-record {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.home-page .box-content-left {
  padding-right: 4px;
}
.home-page .box-content-middle {
  padding-left: 4px;
}
.home-page .box-content-left .section-content .ant-card-head-title {
  padding-bottom: unset;
}
.home-page .box-content-left .section-content .ant-card-body {
  padding-bottom: unset;
  padding-top: unset;
}
.home-page .box-content-left .section-content .ant-card-head,
.home-page .box-content-left .section-content .ant-card-body {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.home-page .box-content-left .statistic-home-item .lable-item {
  font-size: 15px;
  color: #9c9191;
  font-weight: normal;
}
.home-page .statistic-home-item .content-item {
  font-size: 16px;
  color: var(--color-orange);
  font-weight: 600;
}
.home-page .statistic-home-item .data-empty {
  color: var(--color-default) !important;
}
.home-page .statistic-home-item .content-item .rank-up {
  color: rgb(38, 158, 38);
  background-color: rgba(38, 158, 38, 0.322);
  border-radius: 50%;
  padding: 3px;
}
.home-page .title-checkin-current,
.home-page .title-worktime-current {
  font-size: 15px;
  text-align: center;
  padding: 5px 0 !important;
}
.home-page .box-content-left .section-content .statistic-home-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.home-page .box-content-left .section-content .section-icon,
.home-page .box-home-event .content-event .section-icon {
  color: var(--color-orange);
  background-color: rgba(255, 166, 0, 0.212);
  font-weight: 600;
  padding: 5px;
  border-radius: 50%;
  font-size: 16px !important;
}
.home-page .box-content-middle .ant-card-head {
  min-height: unset;
}
.home-page .box-content-middle .ant-card-head-title {
  padding: 0;
}
.home-page .box-content-middle .ant-card-body {
  padding: 24px;
}
.home-page .box-content-middle .progress-home {
  width: 100%;
}
.home-page .box-content-middle .progress-home .ant-progress-inner {
  display: block;
  margin: auto;
}
.home-page .box-content-middle .section-content .note-pr {
  padding: 5px 0;
  text-align: center;
}
.home-page .box-content-middle .css-1nk968r-MuiSkeleton-root {
  margin: 0 auto;
}
.home-page .box-content-right .home-slide {
  box-shadow: 1px -1px 10px var(--color-box-shadow);
}
.home-page .box-content-right .home-slide .slider-item img,
.home-page .box-content-right .skeleton-banner {
  height: 250px;
  width: 100%;
  object-fit: cover;
  -webkit-transform: unset;
}
.home-page .box-content-right .home-slide .dot-slider li button {
  border: 2px solid var(--color-orange);
}
.home-page .box-content-right .home-slide .dot-slider .slick-active button {
  background-color: var(--color-orange);
}
.home-page .box-home-event {
  padding-bottom: 60px;
}
.box-home-event .ant-card-body:nth-child(1) {
  padding: 5px;
}
.home-page .box-home-event .title-event {
  padding-bottom: 10px;
}
.home-page .box-home-event .content-event .text-info {
  color: var(--color-orange);
}
.home-page .box-home-event .box-card-content-event {
  padding: 10px 16px !important;
  height: 110px !important;
}
.home-page .box-home-event .btn-section-event {
  display: block;
  margin: 5px auto;
  width: 90%;
  transition: 0.2s;
}
.home-page .box-home-event .btn-section-event:hover {
  opacity: 0.8;
}
.home-page .box-home-event .btn-section-warring {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
.home-page .box-home-event .swiper-pagination-bullet {
  height: unset;
  width: unset;
  padding: 0 5px;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  background-color: #fff;
  opacity: 1;
  display: inline-block;
  transition: 0.2s;
  font-size: 13px;
}
.home-page .box-home-event .swiper-pagination-bullet-active {
  color: #fff !important;
  background-color: var(--color-orange) !important;
}
.home-page .css-bhp9pd-MuiPaper-root-MuiCard-root {
  box-shadow: 1px -1px 10px var(--color-box-shadow) !important;
}
.home-page .box-rank-list .section-content {
  height: unset;
}
.home-page .box-rank-list .user-item {
  padding: 10px 20px;
  transition: 0.3s;
}
.home-page .box-rank-list .user-item:hover {
  background-color: #b0b2bf40;
}
.home-page .box-rank-list .ant-card-body {
  padding-top: 5px;
}
.home-page .box-rank-list .rank-list {
  border-radius: 3px;
  border: 1px dashed var(--color-box-shadow);
}
.home-page .box-rank-list .user-item .text-info {
  color: var(--color-orange);
  font-size: 14px;
  font-weight: 600;
}
.home-page .box-rank-list .bg-success {
  background-color: #6fcf6f;
}
.home-page .box-rank-list .bg-danger {
  background-color: #faad14cc;
}
.home-page .box-rank-list .user-info {
  margin: 0 20px;
}
.home-page .box-rank-list .skeleton-list-rank-item {
  padding: 0 20px;
  margin: 12px 0px !important;
}
.home-page .box-rank-list .load-line-title {
  width: 30%;
  margin: 0 auto;
}
.home-page .box-rank-list .user-info a:hover {
  color: #1890ff;
}
.home-page .box-rank-list .user-item .checkin-time {
  background-color: rgba(230, 124, 11, 0.226);
  border-radius: 10px;
  padding: 0 15px;
}
.home-page .box-rank-list .user-item .icon-rank {
  margin-left: 10px;
}
.home-page .box-rank-list .user-item .current-rank .icon-up {
  color: rgb(38, 158, 38);
  font-size: 16px;
}
.home-page .box-rank-list .user-item .current-rank .icon-down {
  color: rgb(238, 20, 20);
  font-size: 16px;
}
.home-page .box-rank-list .box-title-tab {
  padding: 10px 0;
  text-align: center;
}
.home-page .box-rank-list .title-rank-tab {
  padding: 5px 20px;
  display: inline;
  color: #ffff;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .home-page .box-content-right .home-slide .slider-item img,
  .home-page .box-content-right .skeleton-banner {
    height: 200px;
  }
  .home-page .box-rank-list .col-list-rank:nth-child(2) {
    margin-top: 20px;
  }
  .home-page .box-content-middle .skeleton-personnel-record {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 375px) {
  .home-page .box-content-left .section-content .ant-card-head,
  .home-page .box-content-left .section-content .ant-card-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .home-page .box-content-left .statistic-home-item .lable-item {
    font-size: 12px;
    color: #9c9191;
    font-weight: normal;
  }
  .home-page .box-content-middle .progress-home .ant-progress-inner {
    width: 100px;
    height: 100px;
  }
  .home-page .box-content-right .home-slide .slider-item img,
  .home-page .box-content-right .skeleton-banner {
    height: 160px;
  }
  .home-page .box-rank-list .user-item {
    padding: 10px 5px;
  }
  .home-page .box-rank-list .ant-card-body {
    padding: 10px;
  }
  .home-page .box-rank-list .user-item .checkin-time {
    padding: 0 10px;
  }
  .home-page .box-rank-list .user-item .text-info {
    font-size: 13px;
  }
}
/* end css home */
.dashboard {
  /* height: 100vh; */ /* Đoạn này set cứng height bị lỗi giao diện nên Định tạm thời comment */
}
.dashboard .ant-col {
  padding: 0 !important;
}
.dashboard-container {
  margin: 0 !important;
}
.dashboard-container .info-count {
  color: var(--color-orange);
  font-size: 16px;
  font-weight: 600;
}
/* css more */
.more {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-top: 5vw; */
  flex-direction: column;
}
.more .ant-col {
  padding: 0 !important;
  text-align: center;
  font-size: 16px;
}
.more .ant-avatar:hover {
  opacity: 0.7;
}
.more .ant-card-head {
  text-align: start;
}
/* end css more */

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.ant-select-item-option-content a {
  width: 100%;
  height: 100%;
  display: block;
}
.ant-select-dropdown {
  z-index: 2 !important;
}

/* style timesheet */
.statistical-work-month {
  margin-bottom: 20px;
  text-align: center;
}
.timesheet .statistical-work-month .ant-card {
  background: #f4f4f4 !important;
  border-radius: 5px;
}
.timesheet .statistical-work-month .ant-card-head {
  min-height: unset;
}
.timesheet .statistical-work-month .ant-card-head .ant-card-head-title {
  padding: 5px 0;
}
.timesheet .statistical-work-month .ant-card-body {
  padding: 10px 24px;
}
.timesheet .text-info {
  color: #ff9d36;
  font-size: 16px;
  font-weight: 600;
}
.timesheet .timesheet-calendar .ant-picker-date-panel {
  min-width: 992px;
}
.timesheet .timesheet-calendar .ant-picker-panel {
  overflow-x: scroll;
}

.timesheet .ant-skeleton-content .ant-skeleton-paragraph li:nth-child(-n+2) {
  display: none;
}

.ant-picker-content th,
.ant-picker-content td {
  z-index: 1 !important;
}
@media (max-width: 768px) {
  .timesheet .ant-page-header-heading-title {
    font-size: 18px !important;
  }
}
@media (max-width: 375px) {
  .timesheet .statistical-work-month .ant-card-head .ant-card-head-title {
    font-size: 15px;
  }
  .timesheet .statistical-work-month .ant-card-body {
    padding: 10px 0;
  }
  .timesheet .statistical-work-month .ant-card-body .text-info {
    font-size: 15px;
  }
  .timesheet .ant-page-header-heading-left {
    flex-direction: column;
    align-items: unset;
  }
}
/* style timekeep (Checkin) page */
.time-keep .time-keep-main {
  min-height: calc(100vh - 100px);
}
.time-keep .icon-change-workpace svg {
  font-size: 20px;
  color: var(--color-orange);
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s;
}
.time-keep .icon-change-workpace:hover svg {
  opacity: 0.9;
  color: var(--color-blue);
}
.time-keep .main-clock {
  margin: 10px 0;
}
.time-keep .main-clock time {
  color: var(--color-blue);
}
.time-keep .icon-antd-clock {
  font-size: 30px;
}
.time-keep .icon-antd-flat {
  font-size: 33px;
}
.time-keep .time-item h3 {
  margin-bottom: unset;
  margin-top: 10px;
}
.time-keep .time-item .ant-card-body {
  padding: 0 !important;
  padding-bottom: 5px !important;
}
.time-keep .wrap-time-statistic {
  margin-top: 20px !important;
}
.time-keep .box-button-time-keep {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-keep .box-button-time-keep .lable-button {
  display: block;
  color: #fff;
}
.time-keep .button-content {
  flex-direction: column;
}
.time-keep .button-content .button-icon {
  font-size: 50px;
}
.time-keep .location-address {
  margin-top: 10px;
}
.time-keep .wrap-time-statistic .ant-row:nth-child(-n + 2) {
  display: none;
}
.time-keep .wrap-time-statistic .ant-row {
  padding: 0 20px;
}
@media (max-width: 768px) {
  .time-keep .wrap-time-statistic .time-item h3 {
    font-size: 20px;
  }
  .time-keep .wrap-time-statistic .ant-row {
    padding: 0 10px;
  }
  .ant-notification-topRight {
    top: 70px !important;
  }
}
/* CreateOrder */
.CreateOrder {
  height: 100%;
}
.CreateOrder .ant-col {
  padding: 0 !important;
}
.CreateOrder-container .info-count {
  color: #ff9d36;
  font-size: 16px;
  font-weight: 600;
}
.CreateOrder-container,
.OrderPage-container {
  margin: 0 !important;
}
.OrderPage-container .ant-upload{
  width: 100% !important;
}
.OrderPage-container .btn {
  margin: 0 !important;
  font-size: 16px;
  padding: 5px 0;
  height: 100%;
  background: var(--color-orange);
  border: none;
}
.OrderPage-container .text-area {
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  display: flex;
}
.OrderPage-container .text-area::placeholder {
  line-height: 13vh;
  font-size: 14px;
}
.OrderPage-container .ant-list-item{
  align-items: flex-start !important;
}
.OrderPage-container .ant-list-split .ant-list-item{
  border: 1px solid #f0f0f0;
  border-width: 0 1px 1px 0;
}
.CreateOrder-container .one-order {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 1.5vw;
  font-size: 14.5px;
  font-weight: 450;
  cursor: pointer;
  margin-bottom: 1vw;
  padding: 1.4vw 0;
  padding-right: 5vw;
  color: #000;
  border-style: dashed;
  border-width: 1px;
  border-color: #eee transparent;
  transition: 0.3s linear;
}
@media (max-width: 768px) {
  .CreateOrder-container .one-order {
    margin-bottom: 3.6vw;
    padding: 6vw 0;
  }
  .CreateOrder-container .ant-ribbon.ant-ribbon-placement-end {
    display: none;
  }
}

.CreateOrder-container .one-order:hover {
  border-color: var(--color-orange) transparent;
  background-color: rgba(216, 216, 216, 0.185);
}
.form-create-order {
  width: 100%;
}

.form-create-order .form-input {
  height: 46px;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1.5rem;
  background: rgba(235, 237, 242, 0.4);
  width: 100%;
  outline: none;
  border-radius: 5px;
  color: #333;
}
.form-create-order .form-input:focus {
  border: #ff9d36 solid 1px;
}
.form-create-order .form-input.lydo {
  padding-top: 1vw;
  height: 100%;
}
.form-create-order .sex {
  width: 100%;
  margin-top: 20px;
  display: flex;
  grid-column-gap: 2vw;
  align-items: center;
  justify-content: start;
  background: rgba(235, 237, 242, 0.4);
  height: 46px;
}
.form-create-order .sex .radio-check {
  display: flex;
  align-items: center;
  grid-column-gap: 0.5vw;
}

.form-create-order .date {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
}
.form-create-order .date .date-small {
  width: 100%;
  display: flex;
  align-items: center;
}
.form-create-order .date .date-small .form-input {
  padding: 5px;
  margin: 5px;
}
.btn {
  display: block;
  color: #fff;
  border-color: var(--ant-primary-color);
  background: rgb(8, 111, 170);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  margin-right: 8px;
  margin-bottom: 12px;
  margin-top: 12px;
  line-height: 1.5715;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
}
.checkbox {
  width: 20px;
  height: 16px;
  cursor: pointer;
}

/* profile page */
.profile-page {
  min-height: calc(100vh - 100px);
}
.profile-page .ant-tabs-tab {
  justify-content: center;
}
.profile-page .ant-tabs-tab-btn {
  display: flex;
  flex-direction: column;
  grid-row-gap: 3px;
}
.profile-page .tab-icon {
  font-size: 30px;
  margin-right: 0 !important;
}
.profile-page .avatar-profile-around {
  width: 150px;
}
.profile-page .avatar-profile-around img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.profile-page .avatar-profile-around .ant-image-mask {
  border-radius: 50%;
}
.profile-page .btn-change-avatar {
  background: var(--color-orange);
  margin-top: 20px;
  border: none;
}
.profile-page .btn-change-avatar span svg {
  font-size: 18px;
}
.profile-page .box-profile-avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .profile-page .ant-tabs-tab {
    padding: 10px !important;
  }
}

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .bg {
  background-image: url(../images/bg-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-animation: zoomin 10s ease-out;
  animation: zoomin 10s ease-out;
  height: 100%;
  width: 100%;
  position: absolute;
}
.login .bg.night{
  background-image: url(../images/background.webp);
}
.login .bg.night::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), #080808);
}
.login .ant-form-item{
  margin-bottom: 15px;
}
/* .login .bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), #080808);
} */
@keyframes zoomin {
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.login .form-login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 551px;
  width: 363px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .login .bg {
    display: none;
  }
  .login .form-login {
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
}
.login .form-login .form-small {
  width: 100%;
}
.login .title {
  font-size: 1.3vw;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 768px) {
  .login .title {
    font-size: 6.9vw;
  }
}
.login .input-login {
  width: 100%;
  height: 42px;
  border-radius: 10px;
}
.login .input-login:focus,
.login .input-login:hover {
  border-color: var(--color-orange) !important;
  box-shadow: 0 0 0 2px rgba(255, 182, 24, 0.2);
}
.login .ant-card-body {
  width: 100%;
  padding: 10px 30px;
}
.login .btn-login {
  width: 100%;
  height: 42px;
  border-radius: 10px !important;
  margin: 0;
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  font-size: 16px;
  text-transform: uppercase;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.login .btn-login.google{
  background-color: #4F86EC !important;
  color: #fff !important;
}
.login .btn-login:hover {
  background-color: #ff9e36cb;
  border-color: #ff9e36cb;
}
.login .ant-col-offset-8 {
  margin-left: 0;
}
.login .ant-col-16 {
  max-width: 100%;
}
.login .or-login {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.login .or-login .social {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.login .or-login .social .icon {
  margin-top: 25px;
  font-size: 45px;
  color: var(--color-orange);
}
.login .or-login .social .icon:hover {
  color: var(--color-default);
}

/* BLog */
.blog .ant-breadcrumb {
  padding: 24px !important;
  background: #fff !important;
}
.blog .ant-col {
  padding: 0 !important;
}
.blog .top-blog .ant-card-body{
  padding-top: 0 !important;
}
.blog .user-title {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog .user-title-content {
  display: flex;
}
.blog .text-title{
  font-size: 1.6em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .blog .text-title{
    font-size: 1.3em;
  }
}
.name-role {
  margin-left: 0.7em;
}
.blog .user-name {
  font-size: 1rem;
  text-rendering: optimizelegibility;
  color: #0869eb;
  font-weight: 700;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  grid-column-gap: 5px;
}
.blog .post-fast {
  height: 200px;
  margin-bottom: 1em;
}
.blog h4.post-fast-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: .5em;
}
.blog .post-fast-img{
  width: 100%;
  height: 100%;
}
.blog .post-fast-img img{
  border-radius: 5px;
}
.blog .blog-content{
  font-size: 1.11em;
  line-height: 1.8em;
}
/* BLog */

/* game */
.game{
  height: 100vh;
  background-color: #fff;
}
.game .ant-col {
  padding: 0 !important;
}
.game-container {
  margin: 0 !important;
}
.game-container .ant-card{
  display: flex;
  justify-content: center;
}
.game-container #wheel{
  position: absolute;
  left: calc(50% - 17vw);
}
