.icon-app-style{
    height: 14vw !important;
    width: 14vw !important;
    line-height: 14vw !important;
    font-size: 6vw !important;
    background-color: #001529 !important;
    cursor: pointer;
}
@media (min-width: 768px) {
    .icon-app-style{
        height: 8vw !important;
        width: 8vw !important;
        line-height: 8vw !important;
        font-size: 4vw !important;
    }
}