*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wr-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* css head  */

.head{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.head .logo img{
    width: 130px;
    object-fit: cover;
}
.ant-row{
    margin: 0 !important;
}
.nav-bottom {
    bottom: 0;
    box-shadow: 1px 1px 10px rgb(216, 211, 211);
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 100;
}
.nav-bottom .nav-item .anticon{
    font-size: 3vw;
}
.nav-bottom .active{
    color: #096dd9;
    position: relative;
}
.nav-bottom .active::after{
    content: "";
    background-color: #096dd9;
    height: 1vw;
    bottom: -1vw;
    position: absolute;
    width: 100%;
}
.nav-bottom .active::after{
    height: 7px;
    border-radius: 3px;
}
.nav-bottom .wrap-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;

}
.nav-bottom .nav-item {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-row-gap: 10px;
}
.wrap-item .anticon svg {
    font-size: 35px;
}
.wrap-item a{
    color: #50535a;
}
@media (max-width: 768px) {
    .wrap-item .anticon svg {
        font-size: 30px;
    }
    .wrap-item .nav-item {
        min-width: 40px;
    }
    .wrap-item .nav-name {
        font-size: 13px;
    }
    .nav-bottom .active::after{
        height: 5px;
    }
}

/* end css head */

/* css home */
.home {
    height: 100vh;
}
/* end css home */
.dashboard {
    height: 100vh;
}
.dashboard .ant-col{
    padding: 0 !important;
}
.dashboard-container .info-count {
    color: #ff9d36;
    font-size: 16px;
    font-weight: 600;
}
/* css more */
.more {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    flex-direction: column;
}
/* end css more */

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notes-month {
    font-size: 28px;
    text-align: center;
}
.notes-month section {
    font-size: 28px;
}

/* style timesheet */
.statistical-work-month {
    margin-bottom: 20px;
    text-align: center;
}
.timesheet .statistical-work-month .ant-card{
    background: #f4f4f4 !important;
    border-radius: 5px;
}
.timesheet .statistical-work-month .ant-card-head {
    min-height: unset;
}
.timesheet .statistical-work-month .ant-card-head .ant-card-head-title{
    padding: 5px 0;
}
.timesheet .statistical-work-month .ant-card-body {
    padding: 10px 24px;
}
.timesheet .text-info {
    color: #ff9d36;
    font-size: 16px;
    font-weight: 600;
}
