*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.head .logo img{
    width: 130px;
    object-fit: cover;
}
.content-wrapper{
    height: 85.5vh;
}
.ant-row{
    margin: 0 !important;
}
.nav-bottom {
    bottom: 0;
    box-shadow: 1px 1px 10px rgb(216, 211, 211);
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 100px;
    background-color: #fff;
}
.nav-bottom .nav-item .anticon{
    font-size: 3vw;
}
.nav-bottom .active{
    color: #096dd9;
}
.nav-bottom .wrap-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;

}
.nav-bottom .nav-item {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-row-gap: 10px;
}
.wrap-item .anticon svg {
    font-size: 40px;
}
.wrap-item a{
    color: #50535a;
}
@media (max-width: 768px) {
    .wrap-item .anticon svg {
        font-size: 30px;
    }
    .wrap-item .nav-item {
        min-width: 40px;
    }
    .wrap-item .nav-name {
        font-size: 13px;
    }
}
